{% extends "layout/base.html" %}
{% load bootstrap4 %}
{% load thumbnail %}
{% load main_app_tags %}

{% block title %}Корзина заказов{% endblock %}

{% block content %}
<div class="container">
  <div class='row'>
    <div class='col-8'>
      <h1>Подтверждение покупок</h1>
    </div>
      {% if cart %}    
      <div class='col-4 text-right mt-3'>
        <form action="{% url 'store:clear_cart' %}">
          <input type="hidden" name='next' value='{{request.path}}'>
          <button type='submit' class='btn btn-danger btn-sm'>Очистить корзину
        </form>
      </div>
      {% endif %}
  </div>
  {% bootstrap_messages %}
  <div class="row mt-2">
    <table class="table table-striped table-hover table-sm table-secondary">
      <thead>
        <tr class="bg-dark text-light">
          <th scope="col">#</th>
          <th scope="col">Товар</th>
          <th scope="col">Название</th>
          <th scope="col">Количество</th>
          <th scope="col">Цена за шт.</th>
          <th scope="col">Цена всего</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.objects_iter %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><img src="{% thumbnail item.product.image 'vsmall' %}" alt="{{item.product.name}}"></td>
          <td><a href="{{item.product.get_absolute_url}}?next={{request.path|urlencode}}">{{item.product.name}}</a></td>
          <td>
            <span style="display:inline-block">
              <form action={% url 'store:put_in_cart' product_slug=item.product.slug %}>
                <input type="number" name='quantity' min='1' max='100' value='{{item.quantity}}'>
                <input type="hidden" name='next' value='{{request.path}}'>
                <button type='submit' class='btn btn-outline-dark btn-sm'>Изменить</button>
              </form>
            </span>
          </td>
          <td>{{item.product.price}}</td>
          <td>{{item.cost}}</td>
          <td class='text-center'>
            <a href="{% url 'store:remove_cart' product_slug=item.product.slug %}?next={{request.path|urlencode}}" class="badge badge-pill badge-dark">Удалить</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class='row'>
    <div class='col-8'>
      <h3>Общая стоимость заказа:</h3>
    </div>
    <div class='col-4 text-right'>
      <h3>{{cart.price}}&nbsp;&#8381;iastr</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      {% if cart %} 
      <div class="d-flex flex-row">
        <div class="p-2">
          <a href={% url 'customers:user_order_create' %}>
            <button type='button' class='btn btn-success'>Оформить заказ</button>
          </a>
        </div>
        {% if  user.is_anonymous %}  
        <div class="p-2">
          <a href={% url 'customers:simple_order_create' %}>
            <button type='button' class='btn btn-outline-success'>Оформить заказ без регистрации</button>
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div clas='col'>
      <div class="d-flex flex-row-reverse">
        <div class="p-2">
          <a href={% url 'store:products_all' %}>
            <button type="button" class="btn btn-primary">
              {% if cart %}
              Продолжить покупки
              {% else %}
              Нужно что-нибудь положить в корзину
              {% endif %}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
